<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FelhasznaloNev" value="d7p4n4"/>
    <add key="Jelszo" value="szappan60"/>
    <add key="URL" value="http://confluence.sycompla.org/rest/api/content"/>
    <add key="OldalCim" value="Teszt Cím5"/>
    <add key="TerAzonosito" value="AT"/>
    <add key="SzuloOsztalyAzonosito" value="11337749"/>
    <add key="OldalNeve" value="Teszt Cím5"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>